#cardtitle{
    margin-top: 2rem;
    color: #03295a ;
}

#cardamount{
    color: #a6a7ae;
    font-size: 12px;
}

.carditem{
    border: .01rem solid #a4a4ac;
    border-radius:4px;
    /* margin-right: 1rem; */
    height: 24vh;
    width: 18vh;
}
.carditem:hover{
    border: .01rem solid black;
}
.card-inner{
    padding-top:.5rem; 
    padding-bottom:.5 rem;
    padding-left:.5rem;
}

#cardimage{
    margin-left: 0;
}

#yearlyplan{
    font-size: 12px;
    color:#03295a;
}


@media screen and (max-width:720px){
    .cards{
        display: flex;
        flex-direction: column;
        gap:.5rem;
    }
    .carditem{
        position:relative;
        display:flex;
        height: 12vh;
    width: 100%;

    }
    .card-inner{
        display: flex;
        flex-direction: row;
        height: 10vh;
    }
    #cardtitle{
        position:absolute;
        top:-15px;
        left:4rem;
    }
    #cardamount{
        position:absolute;
        top:30px;
        left:4rem;
    }
    #yearlyplan{
        position:absolute;
        top:50px;
        left:4rem;
    }
}