.main{
    display:flex;
    margin: 8% 17%;
    border: 1px solid #ffffff;
    /* color: #ffffff; */
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 1rem;
    width:60%;
    height:70%;
}
.left{
    /* background-color: aqua; */
    flex:1;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    height: 70vh;
    max-width:100%; max-height:100%;
    /* object-fit: contain; */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
}
/* .left img{
    z-index:-1;max-width:100%; max-height:100%;object-fit: cover;
} */
.right{
    flex:2;
    /* height:80vh; */
    /* background-color: blueviolet; */
    /* padding-right: 8rem; */
    /* height: 50%; */
    margin-top:1.8rem;
    /* padding-bottom: 1.8rem; */
    margin-bottom: 1.8rem;
    /* margin-left:20%; */
}

@media screen and (max-width: 720px) {
.main{
    flex-direction: column;
    justify-content: space-between;
    
}
.left{
    display: flex;
    flex-direction: row;
    background-image: url('../assets/images/bg-sidebar-mobile.svg');
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    justify-content: space-around;
    background-size: 100%;
    position:absolute;
    top:0;
    left:0;
    height:30vh;
    width:100vw;
    /* z-index: -10; */
    /* width:100vw; */
}
.right{
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    position: absolute;
    /* left:0; */
    margin-top: 3rem;
    left:6%;
    right:6%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    
}
}

